<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<% include templates/header.ejs %>
    <h1><%= title %></h1>

    <h3>Hi, nice to meet you, I'm <%= name %>!</h3>

</body>
</html>
